[submodule "docs/livecell_notebooks"]
	path = docs/livecell_notebooks
	url = https://github.com/MandyZhou807/livecell_notebooks
[submodule "docs/livecellx_notebooks"]
	path = docs/livecellx_notebooks
	url = https://github.com/xing-lab-pitt/livecellx_notebooks
