[build-system]
build-backend = "flit_core.buildapi"
requires = ["flit_core >=3.4,<4"]

[project]
# name = "livecell-profiler"
name = "livecell"
version = "0.0.2"
description = "live-cell analysis package including instance segmentation and tracker"
authors = [{ name = "Ke Ni", email = "ken67@pitt.edu" }]
readme = "readme.md"
requires-python = ">=3.7"
# dynamic = ["dependencies", "version", "description"]
# dynamic = ["dependencies"]

[project.classifiers]
# Change the license classifier from MIT to GPL
license = ["License :: OSI Approved :: GNU General Public License v3 (GPLv3)"]

[tool.flit.module]
name = "livecell_tracker"

dependencies = [
    "skimage",
    "ipympl",

    # labelme2coco requirements below
    "sahi>=0.8.19",
    "jsonschema>=2.6.0",

    "Augmentor",

    # note we need to use multitracker in cv2 legacy
    "opencv-contrib-python",

    # for sort tracker
    "lap",
    "filterpy",

]

[project.urls]
homepage = "https://github.com/xing-lab-pitt/LiveCellTracker-dev"
documentation = "https://github.com/xing-lab-pitt/LiveCellTracker-dev"
repository = "https://github.com/xing-lab-pitt/LiveCellTracker-dev"

[project.scripts]
poetry = "infer_pyproject.cli:main"
