numpy
pandas
Pillow
scikit-image
ipympl

# labelme2coco requirements below
sahi>=0.8.19
jsonschema>=2.6.0
################################################################################
# segmentation 
################################################################################
pycocotools
# conda install pytorch torchvision -c pytorch
pytorch-lightning
# note we need to use multitracker in cv2 legacy
Augmentor
# seg evaluation
miseval
cellpose
opencv-contrib-python


################################################################################
# tracking
################################################################################
# for sort tracker
lap
filterpy


################################################################################
# trajectory
################################################################################
mahotas